<section id="about-section" class="section">
  <div class="section-wrapper">
    <div class="about-wrapper">
      <figure class="about-img">
        <img class="headshot" src="assets/images/headshot.jpg" alt="Pearce Ropion" />
      </figure>
      <div class="about-text-wrapper">
        <h1 class="heading name">Hey, I'm Pearce</h1>
        <h3 class="sub-heading">Creative front end developer with a mind for compelling designs to create web applications that are stunning, both visually and functionally.</h3>
        <span class="divider"></span>
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis nunc dapibus, ullamcorper dolor id, euismod nibh. Vivamus consectetur arcu risus, congue pulvinar urna porttitor at. Nullam pharetra hendrerit ante, quis elementum risus ornare vel. Nulla sed eleifend urna, vulputate ultricies justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis aliquet neque a mattis congue. Proin luctus mauris et dui sollicitudin, non ullamcorper risus volutpat. Aenean nisl lectus, iaculis vel libero vel, laoreet volutpat metus. Curabitur magna felis, egestas sed porttitor elementum, interdum non quam. Sed ut accumsan neque.</p>
        <p class="paragraph">Ut luctus sapien vel auctor venenatis. Maecenas egestas at ante et consequat. Phasellus auctor consequat neque in mattis. Maecenas tincidunt diam nec sem sagittis, sit amet ultricies ligula feugiat. Phasellus facilisis varius mi, nec gravida tortor. Nunc arcu ex, accumsan sed vehicula vel, lobortis vitae eros. Nunc quis libero lacus.</p>
        <p class="paragraph">Phasellus maximus tellus nisl, ac elementum odio interdum et. Sed eget ex at ipsum ullamcorper tempor ac tristique dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer vestibulum, nisl a iaculis pharetra, ipsum mauris feugiat quam, sed gravida sem felis eu risus. Integer aliquam convallis eros ac gravida. Nunc cursus ante lectus, et ultricies ipsum venenatis et. Sed aliquet urna est, ac suscipit ligula rutrum placerat. Proin volutpat sem et maximus consectetur.</p>
      </div>
    </div>
  </div>
</section>
