<section id="about-section" class="section">
  <div class="section-wrapper">
    <div class="about-wrapper">
      <h1 class="heading name">{{site.data.about.title}}</h1>
      <h3 class="sub-heading">{{site.data.about.intro}}</h3>
      <span class="divider"></span>
      <figure class="about-img">
        <img class="headshot" src="assets/images/headshot.jpg" alt="Pearce Ropion" />
      </figure>
      <div class="about-text-wrapper">
        {% for paragraph in site.data.about.paragraphs %}
          <p class="paragraph">{{paragraph.text}}</p>
        {% endfor %}
        <!-- <p class="paragraph"><strong>I am a third year student at Santa Clara University</strong> based in the San Francisco Bay Area studying <strong>Web Design and Engineering</strong>. I have experience developing software designed for the web, from simple landing pages to <strong>dynamic, expandable web applications</strong>. I strive to create software that is <strong>responsive and fully interactive</strong> using some of the latest technologies available today. </p>
        <p class="paragraph">I believe that my work provides a continued <strong>learning environment</strong> and I am always looking for opportunities to share my knowledge with those who are willing to share theirs with me. I am passionate about designs that spring to life through a <strong>combination of animation and automation</strong> to devise just the right solution to fit the website’s needs. At the end of the day, my primary goal is to create beautiful, creative applications with people who bring out the best of my abilities.</p>
        <p class="paragraph"><strong>When I’m not in front of a computer screen</strong>, I am probably trying new foods, making my own ice cream or playing ultimate frisbee.</p> -->
      </div>
    </div>
  </div>
</section>
