<section id="contact-section" class="section">
	<div class="bg" data-anchor-target="#contact-section" data-bottom-top="transform: translate3d(0px, -150px, 0px);" data-top-bottom="transform: translate3d(0px, 150px, 0px);">
		<div class="bg-overlay"></div>
	</div>
	<div class="section-wrapper">
		<h1>Get In Touch!</h1>
		<span class="divider"></span>
		<div class="contact-wrapper">
			<form id="contact-form" action="https://formspree.io/pearce.ropion@me.com" method="POST">
				<div class="input">
					<label for="name">Name</label>
					<input id="name" name="name" />
				</div>
				<div class="input">
					<label for="email">Email</label>
					<input id="email" name="email" />
				</div>
				<div class="input">
					<label for="subject">Subject</label>
					<input id="subject" name="subject" />
				</div>
				<div class="input textarea">
					<label for="message">Message</label>
					<textarea id="message" name="message"></textarea>
				</div>
				<button id="send" type="submit">Send Message</button>
			</form>
		</div>
	</div>
</section>