<section id="home-section" class="section">
  <div class="bg" data-anchor-target="#home-section" data-bottom-top="transform: translate3d(0px -150px 0px)" data-top-bottom="transform: translate3d(0px 150px 0px)"></div>
  <div class="home-wrapper">
    <div class="home-body" data-top="opacity: 1" data-top-bottom="opacity: 0">
      <div class="home-hex">
        <!-- <svg version="1.1" class="home-hex" viewBox="0 0 433 462.7" style="enable-background:new 0 0 433 462.7;">
          <polygon class="poly-hex" points="0,115.7 0,347 216.5,462.7 433,347 433,115.7 216.5,0 "/>
          <text>
            <h1 class="heading name">Pearce Ropion</h1>
            <p class="sub-heading">Creative Front-End Developer</p>
            <p class="construction">In Progress</p>
          </text>
        </svg> -->
        <div class="home-content">
          <h1 class="heading name">Pearce Ropion</h1>
          <p class="sub-heading">CREATIVE FRONT-END DEVELOPER</p>
          <p class="construction">Site In Progress</p>
        </div>
      </div>
      <!-- <div class="scroll-wrapper">
        <a href="#about-section" title="About Me" class="scroll-down">
          <span class="scroll-down-text">
            Learn More
            <svg class="scroll-down-arrow" viewBox="0 0 57.942 105.958" enable-background="new 0 0 11.893 6.503">
              <line fill="none" stroke="#fff" stroke-width="7" stroke-miterlimit="10" x1="2.475" y1="2.475" x2="55.467" y2="55.466" />
              <line fill="none" stroke="#fff" stroke-width="7" stroke-miterlimit="10" x1="55.467" y1="50.492" x2="2.475" y2="103.484" />
            </svg>
          </span>
        </a>
      </div> -->
    </div>
  </div>
</section>
