<section id="home-section" class="section ui grid">
	<div class="bg" data-anchor-target="#home-section" data-bottom-top="transform: translate3d(0px, -150px, 0px);" data-top-bottom="transform: translate3d(0px, 150px, 0px);">
		<div class="bg-overlay"></div>
	</div>
	<div class="home-wrapper">
		<div class="home-body" data-anchor-target="#home-section" data-top="opacity: 1" data-top-bottom="opacity: 0">
			<div class="home-content">
				<h1 class="heading name">Pearce Ropion</h1>
				<h3 class="sub-heading">CREATIVE FRONT-END DEVELOPER</h3>
			</div>
			<div class="scroll-wrapper">
				<a href="#about-section" title="About Me" class="scroll-down">
					<svg class="scroll-down-hex" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
					 id="Layer_1" x="0px" y="0px" viewBox="0 0 512 334.7" style="enable-background:new 0 0 512 334.7;" xml:space="preserve">
						<polygon class="st0" points="256,66.7 426.6,66.7 512,200.7 426.6,334.7 256,334.7 170.7,200.7 " />
						<path class="st1" d="M170.7,200.7" />
						<path class="st1" d="M512,200.7" />
						<polygon class="st2" points="298.8,134 341.3,200.7 255.7,200.7 " />
						<polygon class="st3" points="256,66.7 298.8,134 213.2,134 " />
						<polygon class="st4" points="255.7,200.7 298.8,134 213.2,134 " />
						<polygon class="st5" points="255.7,200.7 170.7,200.7 213.2,134 " />
						<polygon class="st2" points="384.2,268 426.6,334.7 341,334.7 " />
						<polygon class="st2" points="341,200.7 384.2,268 298.5,268 " />
						<polygon class="st3" points="341,334.7 384.2,268 298.5,268 " />
						<polygon class="st4" points="341,334.7 256,334.7 298.5,268 " />
						<polygon class="st3" points="341.3,200.7 298.5,268 255.7,200.7 " />
						<polygon class="st5" points="298.5,268 256,334.7 213.5,268 " />
						<polygon class="st6" points="255.7,200.7 213.5,268 170.7,200.7 " />
						<polygon class="st4" points="213.5,268 298.5,268 255.7,200.7 " />
						<polygon class="st5" points="256,66.7 213.2,134 170.4,66.7 " />
						<polygon class="st6" points="213.2,134 170.7,200.7 128.2,134 " />
						<polygon class="st7" points="170.4,66.7 128.2,134 85.7,67.3 " />
						<line class="st1" x1="213.2" y1="134" x2="170.4" y2="66.7" />
						<polygon class="st8" points="171,201.3 213.5,268 127.9,268 " />
						<polygon class="st8" points="127.9,134 171,201.3 85.3,201.3 " />
						<polygon class="st6" points="127.9,268 171,201.3 85.3,201.3 " />
						<polygon class="st9" points="85.7,67.3 128.2,134 42.6,134 " />
						<polygon class="st10" points="42.9,0 85.7,67.3 0,67.3 " />
						<polygon class="st11" points="42.6,134 85.7,67.3 0,67.3 " />
						<polygon class="st7" points="127.9,134 42.6,134 85.3,201.3 " />
						<polygon class="st9" points="213.2,134 170.4,66.7 128.2,134 " />
					</svg>
					<span class="scroll-down-text">
						<h3>Learn More</h3>
						<svg class="scroll-down-arrow" viewBox="0 0 57.942 105.958" enable-background="new 0 0 11.893 6.503">
							<line fill="none" stroke="#fff" stroke-width="7" stroke-miterlimit="10" x1="2.475" y1="2.475" x2="55.467" y2="55.466" />
							<line fill="none" stroke="#fff" stroke-width="7" stroke-miterlimit="10" x1="55.467" y1="50.492" x2="2.475" y2="103.484" />
						</svg>
					</span>
				</a>
			</div>
		</div>
	</div>
</section>