<section id="projects" class="section">
  <div id="public" class="section-wrapper">
    <h1>What have I done?</h1>
    <span class="divider"></span>
    <div class="projects-wrapper">
      {% for project in site.data.projects.public %}
        <div class="block">
          <div class="images">
            <div class="image home-group">
              <img class="browser" src="/assets/images/projects/browser.png" alt="Browser Box" />
              <img class="home-img" src="/assets/images/projects/{{project.image}}-home.png" alt="{{project.name}} Home Page" />
            </div>
            <div class="image alt-group">
              <img class="browser" src="/assets/images/projects/browser.png" alt="Browser Box" />
              <img class="alt-img" src="/assets/images/projects/{{project.image}}-alt.png" alt="{{project.name}} Alternate Page" />
            </div>
          </div>
          <div class="content">
            <h3 class="name">{{project.name}}</h3>
            <div class="tags">
              {% for tag in project.tags %}
                <span class="tag">{{tag.name}}</span>
              {% endfor %}
            </div>
            <p class="description">{{project.description}}</p>
            <div class="links">
              {% for link in project.links %}
                <a class="link" href="{{link.url}}" target="_blank">{{link.type}}</a>
              {% endfor %}
            </div>
          </div>
        </div>
        {% if forloop.last == false %}
          <span class="divider"></span>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div id="private" class="section-wrapper">
    <h1>Closed Source Projects</h1>
    <span class="divider"></span>
    <div class="projects-wrapper">
      {% for project in site.data.projects.private %}
        <div class="block">
          <div class="content">
            <h3 class="name">{{project.name}}</h3>
            <div class="tags">
              {% for tag in project.tags %}
                <span class="tag">{{tag.name}}</span>
              {% endfor %}
            </div>
            <p class="description">{{project.description}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
