<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/scripts/skrollr.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/scripts/skrollr.menu.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/scripts/main.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/scripts/semantic.min.js"></script>
