#about {
    .about-wrapper {
        .sub-heading {
            width: 60%;
            @include MQ(M) {
				width: 100%;
			}
        }
        .image {
            width: 30%;
            display: inline-block;
            @include MQ(M) {
                width: 60%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: auto;
			}
            .headshot {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                margin-right: 50px;
                @include MQ(M) {
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }
        .content {
            width: 60%;
            display: inline-block;
            vertical-align: top;
            margin-top: 30px;
            @include MQ(L) {
                width: 100%;
            }
            .paragraph {
                line-height: 1.75;
            }
        }
    }
}