.icon {
    -webkit-filter: invert(1);
    filter: invert(1);
    &.link {
        cursor: pointer;
    }
    &.admin-tools {
        background-image: url('/assets/images/icons/admin-tools.png');
    }
    &.briefcase {
        background-image: url('/assets/images/icons/briefcase.png');
    }
    &.campfire {
        background-image: url('/assets/images/icons/campfire.png');
    }
    &.check {
        background-image: url('/assets/images/icons/check.png');
    }
    &.checkmark {
        background-image: url('/assets/images/icons/checkmark.png');
    }
    &.cloud {
        background-image: url('/assets/images/icons/cloud.png');
    }
    &.code-file {
        background-image: url('/assets/images/icons/code-file.png');
    }
    &.code {
        background-image: url('/assets/images/icons/code.png');
    }
    &.cog-gear {
        background-image: url('/assets/images/icons/cog-gear.png');
    }
    &.design {
        background-image: url('/assets/images/icons/design.png');
    }
    &.double-checkmark {
        background-image: url('/assets/images/icons/double-checkmark.png');
    }
    &.download {
        background-image: url('/assets/images/icons/download.png');
    }
    &.edit-image {
        background-image: url('/assets/images/icons/edit-image.png');
    }
    &.email {
        background-image: url('/assets/images/icons/email.png');
    }
    &.engineer {
        background-image: url('/assets/images/icons/engineer.png');
    }
    &.facebook {
        background-image: url('/assets/images/icons/facebook.png');
    }
    &.gear{
        background-image: url('/assets/images/icons/gear.png');
    }
    &.github {
        background-image: url('/assets/images/icons/github.png');
    }
    &.graduation-cap {
        background-image: url('/assets/images/icons/graduation-cap.png');
    }
    &.illustrator {
        background-image: url('/assets/images/icons/illustrator.png');
    }
    &.indesign {
        background-image: url('/assets/images/icons/indesign.png');
    }
    &.instagram {
        background-image: url('/assets/images/icons/instagram.png');
    }
    &.intelligence {
        background-image: url('/assets/images/icons/intelligence.png');
    }
    &.journal {
        background-image: url('/assets/images/icons/journal.png');
    }
    &.leaf {
        background-image: url('/assets/images/icons/leaf.png');
    }
    &.library {
        background-image: url('/assets/images/icons/library.png');
    }
    &.light-bulb {
        background-image: url('/assets/images/icons/light-bulb.png');
    }
    &.linkedin {
        background-image: url('/assets/images/icons/linkedin.png');
    }
    &.module {
        background-image: url('/assets/images/icons/module.png');
    }
    &.neural-network {
        background-image: url('/assets/images/icons/neural-network.png');
    }
    &.photoshop {
        background-image: url('/assets/images/icons/photoshop.png');
    }
    &.ruby-gem {
        background-image: url('/assets/images/icons/ruby-gem.png');
    }
    &.search {
        background-image: url('/assets/images/icons/search.png');
    }
    &.server {
        background-image: url('/assets/images/icons/server.png');
    }
    &.shopping-bag {
        background-image: url('/assets/images/icons/shopping-bag.png');
    }
    &.team-work {
        background-image: url('/assets/images/icons/team-work.png');
    }
    &.twitter {
        background-image: url('/assets/images/icons/twitter.png');
    }
    &.user-location {
        background-image: url('/assets/images/icons/user-location.png');
    }
    &.web-design {
        background-image: url('/assets/images/icons/web-design.png');
    }
    &.wrench {
        background-image: url('/assets/images/icons/wrench.png');
    }
    &.www {
        background-image: url('/assets/images/icons/www.png');
    }
}