$S: 330px;
$SM: 480px;
$M: 768px;
$MM: 900px;
$L: 1170px;
// Media queries
@mixin MQ($canvas) {
  @if $canvas==S {
    @media only screen and (max-width: $S) { @content; }
  }
  @else if $canvas==SM {
    @media only screen and (max-width: $SM) { @content; }
  }
  @else if $canvas==M {
    @media only screen and (max-width: $M) { @content; }
  }
  @else if $canvas==MM {
    @media only screen and (max-width: $MM) { @content; }
  }
  @else if $canvas==L {
    @media only screen and (max-width: $L) { @content; }
  }
}
