.st0 {
    fill: #FF8400;
}

.st1 {
    fill: #ED1C24;
}

.st2 {
    fill: #FF901A;
}

.st3 {
    fill: #FF9D34;
}

.st4 {
    fill: #FFA94D;
}

.st5 {
    fill: #FFB567;
}

.st6 {
    fill: #FFC280;
}

.st7 {
    fill: #FFE7CD;
}

.st8 {
    fill: #FFCE9A;
}

.st9 {
    fill: #FFDAB4;
}

.st10 {
    fill: #FFF7F0;
}

.st11 {
    fill: #FFF3E7;
}